.stock-inventory {
    border: 1px solid black;
    width: 70%;
    margin: auto;

    .stock-inventory__buttons {
        width: 90%;
        margin: auto;

        button {
            height: 20px;
            border: 0;
            background: gray;
            border-radius: 5px;
            color: white;
            outline: none;
    
            &:hover {
                background: orange;
            }
        }
    }
}