.window {
    display: flex;
    border: 1px solid black;
    width: auto;
    height: auto;
    margin-bottom: 20px;

    .buttons {
        width: 30%;
        display: flex;
        flex-direction: column;
        button {
            height: 30%;
            margin: 10px;
        }
    }

    .users {
        width: 70%;
        display: flex;
        app-one {
            width: 49%;
        }
        app-two {
            width: 49%;
        }
    }

    .CreditBox {
        margin: 8px auto;
        width: 70%;
        height: 80%;
    
        input {
            width: 100%;
        }
    }

}

.window2 {
    display: flex;
    border: 1px solid black;
    width: auto;
    height: auto;
    p {
        margin-left: 20px;
    }
}