<!-- <div>
  <app-one>

  </app-one>
  <app-two>

  </app-two>
  <app-three>

  </app-three>
</div> -->

<div class="window">
  <div class="buttons">
    <button (click)="addProp()">Add property</button>
    <button (click)="changeUser()">Change user object</button>
    <button (click)="changeName()">Chanhe name property</button>
  </div>

  <div class="users">
    <app-one [user]="user"></app-one>
    <app-two [user]="user"></app-two>
  </div>
</div>
<!-- <div class="window">
  <div class="CreditBox">
      <label>Credit Card Number
      <input 
        name="credit-card"
        type="text" 
        placeholder="Enter your 16-digit card number"
        credit-card>
    </label>
  </div>
</div> -->

<div class="window2">
    <app-credit-card>

    </app-credit-card>
</div>

