<div class="stock-products" [formGroup]="parent"> 
  <div formArrayName="stock">
      <div class="formArray" *ngFor="let item of stocks; let i = index;">
        <div class="stock-product__content" [formGroupName]="i">
            <div class="stock-product__name">
                {{item.value.product_id}}
            </div>
            <input
             type="number"
             step="10"
             min="10"
             max="1000"
             formControlName="quantity">
        </div>
        <button
          type="button"
          (click)="onRemoved(item, i)">
            Remove
        </button>
      </div>
  </div>
</div>